---
import { Image } from '@astrojs/image/components';
import type { CollectionEntry } from 'astro:content';
import Button from '../ui/Button.astro';

interface Props {
    project: CollectionEntry<'projects'>;
}

const { project } = Astro.props;
---

<article class='col-span-12 reveal-fx'>
    <div
        class='grid grid-cols-12 items-center border-2 bg-whitegreen-100 shadow-custom tilt will-change-transform'>
        <div class='col-span-7 p-10'>
            <Image
                src={project.data.image.src}
                width={618}
                height={374}
                alt={project.data.image.alt}
                aspectRatio='16:9'
                class='border-2'
            />
        </div>

        <div class='prose col-span-5 p-6'>
            <p class='mb-1 text-sm font-bold text-orange-500'>
                <span class='mr-2'> Vorgestelltes Projekt</span>
            </p>
            <h3 class='mt-0 mb-5 text-5xl font-black'>
                {project.data.title}
            </h3>
            <p>{project.data.description}</p>
            <Button
                href={`/projekte/${project.slug}`}
                variant='secondary'>
                Projekt anzeigen
            </Button>
        </div>
    </div>
</article>
