---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import Layout from "@/layouts/PageLayout.astro";
import ProjectNav from "@/components/projects/ProjectNav.astro";
import DraggableBackground from "@/components/common/DraggableBackground.astro";

interface Props {
  project: CollectionEntry<"projects">;
  nextProject: CollectionEntry<"projects">;
  prevProject: CollectionEntry<"projects">;
}

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const allProjects = await getCollection("projects");
  // get number of projects
  const numProjects = allProjects.length;
  allProjects.sort((a, b) => (a.data.date < b.data.date ? 1 : -1));

  return allProjects.map((project, index) => ({
    params: { slug: project.slug },
    props: {
      project,
      nextProject: allProjects[(index + 1) % numProjects],
      prevProject: allProjects[(index - 1 + numProjects) % numProjects],
    },
  }));
}

// 2. When it's time to render, you can get the entry directly from the prop
const { project, nextProject, prevProject } = Astro.props;
const { Content } = await project.render();

const meta = {
  title: project.data.title,
  description: project.data.description,
};
---

<Layout {meta}>
  <div class="container max-w-7xl py-32">
    <ProjectNav nextProject={nextProject} prevProject={prevProject} />

    <DraggableBackground
      imageUrl={project.data.image}
      height="600px"
      alt={project.data.image_alt}
    />

    <div class="flex justify-between pt-10 md:pt-20">
      <div class="container max-w-6xl reveal-fx">
        <h1 class="pb-6 text-4xl sm:text-5xl md:text-7xl">{project.data.title}</h1>

        <div class="prose dark:prose-dark max-w-none md:prose-md sm:prose-sm">
          <Content />
        </div>
      </div>
    </div>
  </div>
</Layout>
