---
import { getCollection } from 'astro:content';
import { Image } from '@astrojs/image/components';
import Layout from '@/layouts/PageLayout.astro';
import Button from '@/components/ui/Button.astro';
const meta = {
    title: 'Projekte',
    description: 'Home page description'
};

const allProjects = await getCollection('projects');
---

<Layout {meta}>
    <div class='container grid max-w-6xl items-center gap-12 py-32'>
        <h1 class='mb-16 text-center'>Projekte</h1>

        <div class='grid grid-cols-12'>
            {
                allProjects.map((project) => (
                    <article class='col-span-6'>
                        <div class='border-2 bg-whitegreen-100 p-10 shadow-custom'>
                            <Image
                                src={project.data.image.src}
                                width={490}
                                height={276}
                                alt={project.data.image.alt}
                                aspectRatio='16:9'
                                class='mb-10 border-2'
                            />
                            <p class='mb-1 text-sm font-bold text-orange-500'>
                                <span class='mr-2'>
                                    {project.data.tags.join(', ')}
                                </span>
                            </p>
                            <h3 class='mt-0 mb-5 text-5xl font-black'>
                                {project.data.title}
                            </h3>
                            <Button
                                href={project.slug}
                                variant='secondary'>
                                Projekt anzeigen
                            </Button>
                        </div>
                    </article>
                ))
            }
        </div>
    </div>
</Layout>
